<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ReallySimpleRegEx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ReallySimpleRegEx.Properties.Settings>
            <setting name="exp_font" serializeAs="String">
                <value>Courier New, 9pt</value>
            </setting>
            <setting name="exp_hl_font" serializeAs="String">
                <value>Courier New, 9pt</value>
            </setting>
            <setting name="input_font" serializeAs="String">
                <value>Courier New, 9pt</value>
            </setting>
            <setting name="input_hl_font" serializeAs="String">
                <value>Courier New, 9pt</value>
            </setting>
            <setting name="exp_backcolor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="exp_forecolor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="exp_hl_backcolor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="exp_hl_forecolor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="input_backcolor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="input_forecolor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="input_hl_backcolor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="input_hl_forecolor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="interval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="auto_match" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="regx_options" serializeAs="String">
                <value>0</value>
            </setting>
        </ReallySimpleRegEx.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
